<!DOCTYPE html>
<html>
  <head>
    <title>API Documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" /> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="static/css/style.css" >
  </head>
  <body>
    <div id="react-app"></div>
    <script>
      window.docDocGooseData = <%- JSON.stringify(docDocGooseData) %>; 
    </script>
    <script src="static/js/react-bundle.js"></script>
  </body>
</html>
